body {
	font-family: Tw Cen MT;
	background-color: #ffffff;
	overflow-x: hidden;
}

a {
	color: #ffffff;
}

a.cards {
	color: #ffffff;
	background-color: #004387;
}

a.home {
	color: #ffffff;
	background-color: #000000;
}

a.login {
	color: #ffffff;
	background-color: #fc200c;
}

a.sign {
	color: #ffffff;
	background-color: #1bc426;
}

.index {
	background-color: #004387;
	color: #ffffff;
	top: 10%;
	left: 1%;
	width: 98%;
	height: 75%;
	position: fixed;
	padding: 1%;
}

.footer {
	background-color: #000000;
	color: #ffffff;
	position: absolute;
	bottom: 0%;
	height: 7%;
	width: 100%;
}

#footer-name {
	position: absolute;
	bottom: 25%;
	left: 1%;
}

#footer-contact {
	position: absolute;
	bottom: 25%;
	right: 1%;
}

#footer-change-lang {
	position: absolute;
	bottom: 10%;
	right: 31%;
}

#footer-lang {
	position: absolute;
	bottom: 10%;
	right: 22%;
}

.header {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 7%;
	text-align: center;
	background-color: #004387;
	color: #ffffff;
}

div.alert {
	position: fixed;
	top: 20%;
	left: 40%;
}

.edit-card {
	color: #ffffff;
	top: 10%;
	left: 35%;
	width: 60%;
	position: absolute;
}

.edit-column {
	float: left;
	width: 50%;
	padding: 1%;
}

.edit-card-footer {
	background-color: #000000;
	color: #ffffff;
	position: absolute;
	top: 265%;
	height: 7%;
	width: 100%;
}

.list-cards {
	background-color: #004387;
	color: #ffffff;
	top: 10%;
	left: 1%;
	width: 70%;
	height: 80%;
	padding: 1%;
	overflow-x: hidden;
	position: fixed;
}

.search-cards {
	background-color: #000000;
	color: #ffffff;
	top: 10%;
	left: 72%;
	width: 27%;
	padding: 1%;
	height: 45%;
	position: fixed;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.registration-user {
	color: #ffffff;
	position: fixed;
	top: 15%;
	left: 43%;
	width: 54%;
}

.registration-column {
	float: left;
	width: 34%;
	padding: 1%;
}

.login-user {
	background-color: #004387;
	color: #ffffff;
	position: fixed;
	top: 20%;
	left: 40%;
	width: 20%;
	padding: 1%;
	height: 40%
}

.login-error {
	position: fixed;
	top: 10%;
	left: 43%;
}

.view-card {
	top: 5%;
	left: 5%;
	right: 5%;
	padding: 2%;
	overflow-x: hidden;
}

.add-review {
	color: #ffffff;
	top: 10%;
	left: 33%;
	width: 100%;
	position: fixed;
}

.review-column {
	float: left;
	width: 35%;
	padding: 1%;
}

.list-reviews {
	background-color: #004387;
	color: #ffffff;
	top: 10%;
	left: 1%;
	width: 98%;
	height: 80%;
	padding: 1%;
	overflow-x: hidden;
	position: fixed;
}

textarea {
	resize: none;
}