body {
	font-family: Arial;
	background-color: #fffd99;
	overflow-x: hidden;
}

a {
	color: #ffffff;
}

a.cards {
	color: #ffffff;
	background-color: #004387;
}

a.home {
	color: #000000;
	background-color: #ffffff;
}

a.login {
	color: #ffffff;
	background-color: #fc200c;
}

a.sign {
	color: #ffffff;
	background-color: #1bc426;
}

.jumbotron {
	background-color: #ffffff;
	border-radius: 7px;
	border: 3px solid #004387;
	position: fixed;
	top: 100px;
	left: 10px;
	right: 10px;
}

.info {
	margin: 10px;
}

.footer {
	background-color: #000000;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 35px;
	text-align: center;
	color: #004387;
	border-top: 3px solid #004387;
	padding: 7px;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	background-color: #004387;
	color: #ffffff;
	border-bottom: 3px solid #000000;
	height: 48px;
	text-align: center;
}

div.alert {
	position: fixed;
	top: 100px;
	left: 10px;
	right: 10px;
}

.edit-form {
	background-color: #ffffff;
	border-radius: 7px;
	border: 3px solid #004387;
	position: fixed;
	top: 100px;
	left: 10px;
	right: 10px;
	bottom: 75px;
	padding: 10px;
    overflow-x: hidden;   
}

.list-form {
	background-color: #ffffff;
	border-radius: 7px;
	border: 3px solid #004387;
	position: fixed;
	top: 100px;
	left: 10px;
	right: 400px;
	bottom: 75px;
	padding: 10px;
    overflow-x: hidden;   
}

.registration-form {
	background-color: #ffffff;
	border-radius: 7px;
	border: 3px solid #004387;
	position: fixed;
	top: 100px;
	left: 275px;
	right: 275px;
	padding: 10px;   
}

.login-form {
	background-color: #ffffff;
	border-radius: 7px;
	border: 3px solid #004387;
	position: fixed;
	top: 100px;
	left: 500px;
	right: 500px;
	padding: 10px;
}

.search-form {
	background-color: #ffffff;
	border-radius: 7px;
	border: 3px solid #004387;
	position: fixed;
	top: 100px;
	left: 1000px;
	right: 10px;
	height: 280px;
	padding: 10px;  
}








.view {
	top: 30px;
	left: 30px;
	right: 30px;
	padding: 10px;
}
