body {
	font-family: Arial;
	background-color: #ffffff;
	overflow-x: hidden;
}

a {
	color: #ffffff;
}

a.cards {
	color: #ffffff;
	background-color: #004387;
}

a.home {
	color: #000000;
	background-color: #ffffff;
}

a.login {
	color: #ffffff;
	background-color: #fc200c;
}

a.sign {
	color: #ffffff;
	background-color: #1bc426;
}

.index {
	background-color: #004387;
	color: #ffffff;
	top: 10%;
	left: 1%;
	width: 98%;
	height: 50%;
	position: fixed;
	padding: 1%;
}

.footer {
	background-color: #000000;
	color: #ffffff;
	position: fixed;
	bottom: 0%;
	left: 0%;
	height: 8%;
	width: 100%;
	text-align: center;
	border-top: 5px solid #004387;
}

#footer-name {
	position: fixed;
	bottom: 2%;
	left: 1%;
}

#footer-contact {
	position: fixed;
	bottom: 2%;
	right: 1%;
}

.header {
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 8%;
	text-align: center;
	background-color: #004387;
	color: #ffffff;
	border-bottom: 5px solid #000000;
}

div.alert {
	position: fixed;
	top: 10%;
	left: 40%;
}

.edit-card {
	background-color: #004387;
	color: #ffffff;
	top: 10%;
	left: 20%;
	width: 60%;
	height: 80%;
	padding: 1%;
	overflow-x: hidden;
	position: fixed;
}

.list-cards {
	background-color: #004387;
	color: #ffffff;
	top: 10%;
	left: 1%;
	width: 70%;
	height: 80%;
	padding: 1%;
	overflow-x: hidden;
	position: fixed;
}

.search-cards {
	background-color: #000000;
	color: #ffffff;
	top: 10%;
	left: 72%;
	width: 27%;
	padding: 1%;
	height: 45%;
	position: fixed;
}

.registration-user {
	background-color: #004387;
	color: #ffffff;
	position: fixed;
	top: 10%;
	left: 30%;
	width: 40%;
	padding: 1%;
	height: 35%;
}

.login-user {
	background-color: #004387;
	color: #ffffff;
	position: fixed;
	top: 20%;
	left: 40%;
	width: 20%;
	padding: 1%;
	height: 40%
}

.login-error {
	position: fixed;
	top: 10%;
	left: 43%;
}

.view-card {
	top: 5%;
	left: 5%;
	right: 5%;
	padding: 2%;
}

.add-review {
	background-color: #004387;
	color: #ffffff;
	top: 10%;
	left: 20%;
	width: 60%;
	height: 60%;
	padding: 1%;
	overflow-x: hidden;
	position: fixed;
}

.list-reviews {
	background-color: #004387;
	color: #ffffff;
	top: 10%;
	left: 1%;
	width: 98%;
	height: 80%;
	padding: 1%;
	overflow-x: hidden;
	position: fixed;
}